*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: Gotham-Black;
	src: url("/annexe/fonts/Gotham-Font");
}

#bloc_page {
  height: 100vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto;
}

body {
  color: white;
  background: grey;
  font-family: "abelregular", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  height: 120px;
  display: flex;
  align-items: baseline;
  padding-top: 20px;
}

#logo
{
	height: 70%;
}

header h1 {
  font-size: 3em;
  color: rgb(192, 6, 6);
}

nav {
  margin-left: 120px;
}

ul {
  font-size: 1.5em;
  list-style-type: none;
  display: flex;
}
ul li {
  margin-right: 70px;
}
ul li a {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding-right: 30px;
  text-decoration: none;
}
ul li a:hover {
  color: #c7c7c7;
}

section:nth-child(1) {
  margin-top: 20px;
  height: 550px;
}
section:nth-child(1) #best-movie h2, section:nth-child(1) #best-movie button {
  position: relative;
}
section:nth-child(1) #best-movie h2 {
  font-size: 40px;
}
section:nth-child(n+2) {
  height: 450px;
}
section:nth-child(n+2) h3 {
  text-align: center;
  font-size: 2.3em;
  padding-top: 5px;
  padding-bottom: 30px;
}

.carousel {
  height: 300px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin-top: 30px;
}

.carousel-movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: white;
  color: black;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
}
.modal-content h1 {
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#best-movie {
  height: 380px;
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  border: solid white 1px;
}

#best-movie-player {
  height: 70px;
  width: 120px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#best-movie-player:hover {
  background: #c7c7c7;
}

.best-movie-picture {
  height: 270px;
  display: block;
  margin: auto;
  vertical-align: middle;
}

.movie-description {
  display: grid;
}

.prev, .next {
  display: block;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 70px;
}
.prev:hover, .next:hover {
  cursor: pointer;
  transition: 0.1s ease;
  transform: scale(1.8);
}

.movie {
  height: 270px;
  transition: 0.5s ease;
  display: block;
  margin: auto;
  vertical-align: middle;
}
.movie:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#description {
  word-wrap: break-word;
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

.modal-picture {
  float: left;
  margin-right: 20px;
}